
<dl>
    <div class="alert alert-danger">
        سن کاربر باید بین 5 تا 99 سال باشد و حداقل حروف مجاز برای نام و نام خانوادگی 5 کاراکتر است
    </div>
    <dt>نام</dt>
    <dd><input type="text" class="form-control" id="PersonName" /></dd>

    <dt>نام خانوادگی</dt>
    <dd><input type="text" class="form-control" id="PersonFamily" /></dd>

    <dt>سن</dt>
    <dd><input type="number" class="form-control" id="PersonAge" /></dd>

    <dt></dt>
    <dd><button class="btn btn-success" id="btnAdd">افزودن</button></dd>
</dl>

<script src="~/Scripts/Custome/AddScript.js"></script>

