@{
    ViewBag.Title = "Index";
}

<div id="button"></div>




<h2 id="showLable">صفحه اصلی</h2>
<a id="returnButton" class="btn text-primary" onclick="ReturnToHome()" style="display: none;">بازگشت به صفحه اصلی</a>


<div id="ButtonHolder" dir="ltr">
</div>
<hr />
<div id="list">
    لطفا شکیبا باشید...
</div>

@section Scripts{

    <script src="~/Scripts/Custome/IndexScript.js"></script>

}