@{
    ViewBag.Title = "List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" id="tableList">
    <tr>
        <th>کد</th>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>سن</th>
        <th>دستور</th>
    </tr>
</table>


<script src="~/Scripts/Custome/ListScript.js"></script>
